.container {
  margin-top: 40px;
  text-align: center;
  border-bottom: solid black 4px;
}
.card {
  margin-top: 60px;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  border: black 2px solid;
}
.container h1 {
  text-align: center;
}
