@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cookie&family=Lobster&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family:Garamond;
  font-family: 'Pacifico', cursive;
font-size: large;    
}
a {
  color: inherit;
  text-decoration: none;
}

/* * {
background-color:#FF871F;

} */
 
.footer {
  background-color: black;
}