@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.h2{
  font-size:60px;
  text-align: center;
  font-family: Cursive;
}
.p{
  font-family: Cursive;

}
.firstDiv{
  height: 24rem;
}
.img{
  /* opacity: .9; */
  height: 2rem;
}
.img :hover{
  cursor:pointer;
  color:black;
}
.cardBody{
  height: 5px;
  opacity: .5;
}

.secDiv{
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  height: 20rem;
  background-color: whitesmoke;
}
.h4{
text-align: center;
font-size:50px;
font-family: Cursive;
}

/* .card{
  margin-left: 5px;
  margin-right: 5px;
} */

.title{
  text-align: center;
  padding-top: 19rem;
  font-size: medium;
  color: aliceblue;
  font-family: Cursive;

}
.title :hover{
  cursor: pointer;

}

.cardTitle{
  font-size: 70px;
  padding-top: 17rem;
  /* position: relative;
  top: 18rem; */
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.thirdDiv{
  margin-bottom: 2rem;
  background-color: whitesmoke;

}



