.ul li{
list-style-type: none;
border-bottom-width: thick;
}
.row{
    margin-top: 50px;
    border-bottom:solid black 4px;
}
.row h1{
    text-align: center;
}
.card{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #000;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    color: #fff;

}
.im{
    margin-left: -2rem;
    margin-right: -2rem;
}